{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <nav>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
              <li><a href="{% url 'list_projects' %}">My projects</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>

              {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Signup</a></li>
              {% endif %}
            </ul>
          </nav>
        </header>
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.project.description }}</p>
            <h2>Tasks</h2>
            <p><a href="{% url 'create_task' %}">Create a new task</a></p>
            {% if show_project.tasks.all|length >= 1 %}
            <table>
            <header>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for tasks in show_project.tasks.all %}
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.assignee }}</td>
                        <td>{{ tasks.name }}</td>
                        <td>{{ tasks.start_date }}</td>
                        <td>{{ tasks.due_date }}</td>
                        <td>{{ tasks.is_completed|yesno:"yes,no" }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </header>
            </table>
            {% else %}
            <P>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
    </body>

</html>
